<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.jbnu.se.MoApp2020_2nd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_Following"></activity>
        <activity android:name=".activity_Follower" />
        <activity android:name=".activity_EditProfile" />
        <activity android:name=".activity_addFriend" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh9p4bQz_XiBDcJ0XsOkUSKCFLyaUYeY8" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_tutorial"
            android:label="@string/app_name"
            android:theme="@style/Theme_Tutorial">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BaseActivity" />

        <activity
            android:name=".activity_tutorialRegister"
            android:theme="@style/Theme_Tutorial" />

        <activity
            android:name=".activity_tutorialFinish"
            android:theme="@style/Theme_Tutorial" />

        <activity
            android:name=".activity_signin"
            android:theme="@style/Theme_Tutorial" />

        <activity
            android:name=".activity_resetPassword"
            android:theme="@style/Theme_Tutorial" />

        <activity android:name=".activity_diary" />
        <activity android:name=".activity_main" />
        <activity android:name=".activity_createTimeCapsule" />

        <activity
            android:name=".dialog_addFriend"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity android:name=".activity_map" />
        <activity android:name=".activity_timeCapsule" />
        <activity android:name=".activity_openTimeCapsule" />

        <activity
            android:name=".activity_ar"
            android:theme="@style/Theme_Tutorial" />

        <activity android:name=".activity_inTimeCapsule" />
        <activity android:name=".activity_arStart" />
        <activity android:name=".activity_memory"/>

        <activity
            android:name=".activity_addHabit"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".dialog_register"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <service android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>